{% extends 'layout.html' %}

{% block content %}

{% for workspace in workSpaceGroups %}
<div class="workspace-group">
        <div class="workspace-group-info">hostWorkSpaceId : {{ workspace.hostWorkSpaceId }}</div>
        <div class="workspace-group-info">subWorkSpaceId : {{ workspace.subWorkSpaceId }}</div>
        <div class="workspace-group-info">hostUserId : {{ workspace.hostUserId }}</div>
        <div class="workspace-group-info">subUserId : {{ workspace.subUserId }}</div>
</div>
{% endfor %}
{% endblock %}
